.navbar {
    .container {
        padding: 0;
        .navbar-brand {
            font-family: 'Nunito', sans-serif;
            font-weight: 800;
            color: $primary-color;
            font-size: 24px;
            span {
                color: #3551ef;
            }
        }
        .navbar-nav {
            display: flex;
            align-items: center;
            .nav-item {
                margin-left: 27.5px;
                &.active {
                    font-weight: 600;
                    .nav-link {
                        color: $primary-color;
                    }
                }
                .nav-link {
                    letter-spacing: 0.5px;
                    color: #4F4F4F;
                }
            }
            .button-div {
                margin-left: auto;
                display: flex;
                align-items: center;
            }
        }
        .navbar-menu {
            display: none;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        .container {
            max-width: 1210px;
        }
    }
}

@media screen and(max-width: 992px) {
    .navbar {
        .container {
            .navbar-nav {
                display: none;
                position: absolute;
                top: 77px;
                margin-left: 0 !important;
                left: 0;
                right: 0;
                z-index: 9;
                padding-bottom: 2rem;
                background-color: #fff;
                box-shadow: 0 6px 7px rgba($color: #000000, $alpha: .1);
                .button-div {
                    margin-left: 0;
                    flex-direction: column;
                    .btn {
                        display: block;
                    }
                }
                .nav-item {
                    margin-bottom: .5rem;
                }
                &.collapse {
                    display: flex;
                    margin: 0;
                }
            }
            .navbar-menu {
                display: flex;
            }
        }
    }
}

@media screen and(max-width: 768px) {}

@media screen and(max-width: 576px) {}

@media screen and(max-width: 300px) {}